.advantages {
    height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;
    &__header {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__descr {
        font-size: 14px;
        font-weight: 500;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}