@media(max-width: 992px) {
    .carousel {
        &__inner {
            width: 600px;
            div {
                margin: 0 auto;
                width: 500px;
                img {
                    width: 100%;
                    }
            }
        }
    }
}

@media(max-width: 768px) {
    .carousel {
        &__inner {
            width: 400px;
            div {
                margin: 0 auto;
                width: 300px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .carousel {
        &__inner {
            width: 250px;
            div {
                margin: 0 auto;
                width: 200px;
                img {
                    width: 100%;
                }
            }
        }
        .slick-prev {
            left: -20px;
            transform: none;
        }
        .slick-next {
            right: -20px;
            transform: none;
        }
    }

    
}