<<<<<<< HEAD
@media(max-width: 992px) {
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}

@media(max-width: 768px) {
    .catalog {
        .title {
            font-size: 26px;
        }
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            width: 170px;
        }

        &__content {
            .catalog-item {
                &__img {
                    height: 150px;
                }
                hr {
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .catalog {
        padding-bottom: 50px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 25px;
            flex-direction: column;
        }
        &__tab {
            width: 250px;
            margin-bottom: 5px;
        }

        &__content {
            .catalog-item {
                min-height: 350px;
                &__content {
                    &_active {
                        margin-right: 0;
                    }
                }
                &__img {
                    height: 110px;
                }
            }
        }
    }
=======
@media(max-width: 992px) {
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}

@media(max-width: 768px) {
    .catalog {
        .title {
            font-size: 26px;
        }
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            width: 170px;
        }

        &__content {
            .catalog-item {
                &__img {
                    height: 150px;
                }
                hr {
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .catalog {
        padding-bottom: 50px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 25px;
            flex-direction: column;
        }
        &__tab {
            width: 250px;
            margin-bottom: 5px;
        }

        &__content {
            .catalog-item {
                min-height: 350px;
                &__content {
                    &_active {
                        margin-right: 0;
                    }
                }
                &__img {
                    height: 110px;
                }
            }
        }
    }
>>>>>>> 2377bf10d2d5cdbcdb9cc715a658eb4d351dd419
}