@media(max-width: 992px) {
    .consultation {
        width: 100%;
        margin: 0 auto;
        &__descr {
            font-size: 18px;
            margin-left: 10px;
        }
    }

    .feed-form {
        margin-left: 10px;
    }
    .title_left {
        margin-left: 10px;
        font-size: 29px;
    }
}

@media(max-width: 576px) {
    .consultation {
        &__descr {
            text-align: center;
            margin-left: 0;
            font-size: 15px;
        }
    }
    
    .title_left {
        text-align: center;
        font-size: 19px;
        margin-left: 0;
    }
    .feed-form {
        margin-left: 0;
        margin: 0 auto;
        input {
            width: 300px;
        }
    }
}