@media(max-width: 992px) {

    .header {
        width: 740px;
        margin: 0 auto;
    }

    .promo {
        &__wrapper {
            width: 740px;
            margin: 30px auto 0 auto;
        }
    }
}

@media(max-width: 768px) {

    .header {
        width: 540px;
        margin: 0 auto;
        &__phone {
            font-size: 14px;
        }
        button {
            width: 126px;
            font-size: 11px;
        }
        &__official {
            span {
                font-size: 12px;
            }
        }
        &__logo {
            width: 212px;
        }
    }

    .promo {
        &__wrapper {
            width: 540px;
            margin: 20px auto 0 auto;
            align-items: center;
        }
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 14px;
        }
    }
}

@media(max-width: 576px) {

    .header {
        width: 100%;
        justify-content: space-around;
        &__official {
            display: none;
        }
        &__logo {
            width: 150px;
        }
    }

    .promo {
        &__wrapper {
            width: 300px;
            margin: 30px auto 0 auto;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 12px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 12px;
        }
    }

    .button_main {
        width: 250px;
    }
}