@font-face {
    font-family: 'Museo 300';
    src: url('../fonts/Museo300-Regular.eot');
    src: url('../fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo300-Regular.woff') format('woff'),
    url('../fonts/Museo300-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo 500';
    src: url('../fonts/Museo500-Regular.eot');
    src: url('../fonts/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo500-Regular.woff') format('woff'),
    url('../fonts/Museo500-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Museo 700';
    src: url('../fonts/Museo700-Regular.eot');
    src: url('../fonts/Museo700-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo700-Regular.woff') format('woff'),
    url('../fonts/Museo700-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }